body {
    margin: 0;
    background-color: salmon;
    background-position: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
}
    
.Container-1 {
    height: 500px;
    width: 600px;
    background-color: aliceblue;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: fixed;
    margin-top: 70px;
    margin-left: 275px;
}